
<div class="event_image">
  <% if event.event_image.url %>
    <%= image_tag event.event_image.url %>
  <% else %>
    <%= image_tag 'no_image.jpg' %>
  <% end %>
</div>

<div class="event_infomation">
  <p><%= event.title %></p>
  <p><%= event.started_at %></p>
</div>
