<h1 class="page_top">Editing Event</h1>

<%= render 'form', event: @event %>

<p><%= link_to 'Show', @event, class:"btn-flat-double-border" %>  
<%= link_to 'Back', events_path, class:"btn-flat-double-border" %>
