// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_main{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event_container{
  padding: 0.5rem;
  border: solid thin;
  width: 45%;
  height: 150px;
  background-color: white;
  border: double 4px black;
  border-radius: 3px;
  display: flex;
}
.event_image{
  max-width: 570px;
  max-width: 100%;
  margin: 0 auto;
  text-align:center;
}
.event_image_thumbnail{
  height: 90%;
  width: 40%;
  margin: 0 auto;
  text-align:center;
}
img{
  max-height: 100%;
  max-width: 100%;
}

.no_image{
  display: block;
  height: 100%;
  vertical-align: middle;
  text-decoration: none;
  color: black;
  border: double 4px black;
  border-radius: 3px;
  transition: .4s;
}
