// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event_container{
  border: solid thin;
  width: 48%;
  height: 150px;
  background-color: white;
  border: double 4px black;
  border-radius: 3px;
  display: flex;
}
.event_image{
  max-width: 570px;
  max-width: 100%;
  text-align:center;
}
.event_image_thumbnail{
  height: 90%;
  width: 40%;
  text-align:center;
}
img{
  max-height: 100%;
  max-width: 100%;
}

.no_image{
  display: block;
  height: 100%;
  vertical-align: middle;
  text-decoration: none;
  color: black;
  border: double 4px black;
  border-radius: 3px;
  transition: .4s;
}
.host_user{
  font-size: 0.8rem;
  color: gray;
}
.participated{
  font-size: 0.8rem;
  color: #00a008;
  background-color: #e2e2e2;
  border: black double 3px;
  border-radius: 2px;
}
