
.field-container{
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  text-align: center;
}

.login-form{
  margin: auto;
}

.field{
  padding: 10px 0 ;
}
